.normal-section {  
    color: #e2fafb;    
    background-color: rgba(31,36,49,255);
}

figcaption {
    color: #ffffff;
  }

h1, h2 {
    color: #96e4c5;
}

.section .bgp {
    background-color: rgba(31,36,49,255);
}

h3 {
    font-size: 24px;
}

video{
    object-fit: cover;
    max-height: 530px;
}