/* Felles stilregler */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: rgb(239, 245, 245);
}

header {
  text-align: center;
  padding: 1.5rem;
  background-color: rgb(255, 99, 99);
}

a {
  color: #000;
  text-decoration: none;
  list-style: none;
}

main h1,
main h2 {
  margin-bottom: 1rem;
  font-size: 3.25rem;
}

main h2 {
  font-size: 2rem;
}

a {
  color: #000;
  text-decoration: none;
}

p, ul li {
  line-height: 1.5;
  font-size: 20px;
}

footer {
  background-color: rgb(255, 99, 99);
  text-align: center;
  padding: 3rem 0rem 3rem 0rem;
}

footer ul {
  padding: 3rem 0rem 3rem 0rem;
}

footer ul li {
  margin-bottom: 0.5rem;
}


/*scrollfunksjon*/
.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.container {
  width: 100%;

  margin: 0 auto; /* Centers the container */
  background-size:cover; /* Adjusts size proportionally */
  background-position: center center; /* Ensures it's centered */
  background-attachment: fixed;
  transition: background-image 0.3s ease-in-out;
}

.section .bgp {
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 8px;
}

/*artikkel*/
.normal-section {
  background-color: white;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.normal-section article {
  max-width: 700px;
  width: 100%;
}

.normal-section img,
.normal-section figure img {
  width: 100%;
  max-height: 520px;
  object-fit: cover;
}

figcaption {
  text-align: left;
  font-size: 15px;
  color: rgb(75, 72, 72);
}

.paragraph {
  max-width: 650px;
  width: 100%;
  margin: 50px auto 70px auto;
}

@media only screen and (max-width: 600px) {
  main h1{
    font-size: 2rem;
  }
  main h2{
    font-size: 1.5rem;
  }
  p, ul li {
  line-height: 1.5;
  font-size: 16px;
}
.normal-section img,
.normal-section figure img {
  max-height: 350px;
}
}
