@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    text-decoration: none;
    color: #000;
    list-style: none;
    margin: 0;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: rgb(239, 245, 245);
}

header {
    text-align: center;
    padding: 1.5rem;
    background-color: rgb(255, 99, 99);
}

main {
    background-color: #ffffff;
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
}


main p {
    margin-bottom: 2.5rem;
}

main h1, main h2 {
    margin-bottom: 1rem; 
}

main article p {
    margin: 1rem 0rem 4rem 0rem;
}



footer {    
    background-color: rgb(255, 99, 99);
    text-align: center;
    padding: 3rem 0rem 3rem 0rem;
}

footer ul {
    padding: 3rem 0rem 3rem 0rem;
}

footer ul li {
    margin-bottom: 0.5rem;
}

